<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% for user in Users %}
    <h2>Hello, {{user.Name}}.
        {% if user.Prof == "Teacher" %}
        You're a teacher.
        {% else %}
        You're a student
        {% endif %}
    </h2>
    {% endfor %}
    <h2><a href="{% url 'login' %}">Login</a></h2>
    <h2><a href="{% url 'signup' %}">SignUp</a></h2>
</body>
</html>